<div id="find">
    <a href="" ui-sref="home"><</a>
    <p>发现</p>
</div>
<div class="second">
	<div class="second-left">
		<p>积分商城</p>
		<p>0元好物在这里</p>
		<img src="https://fuss10.elemecdn.com/8/38/9c9aea0e856149083d84af3444b78jpeg.jpeg?imageMogr/format/webp/" alt="">
	</div>
	<div class="second-right">
		<div class="second-right-top">
			<div style="float:left;width: 60%;">
				<p style="color: rgb(245, 120, 93);font-size: 0.55rem">美味爆料</p>
				<p>想吃零食点我</p>
			</div>
			<img src="https://fuss10.elemecdn.com/e/ff/3b9c4a4dfda1df548dc9274f6a7c1jpeg.jpeg?imageMogr/format/webp/" alt="" style="float:right">
		</div>
		<div class="second-right-top">
			<div style="float:left;width: 60%;">
				<p style="color: rgb(27, 169, 225);font-size: 0.55rem">推荐有奖</p>
				<p>5元现金拿不停</p>
			</div>
			<img src='https://fuss10.elemecdn.com/6/76/8d42eef97ff4c1c2b671085358541jpeg.jpeg?imageMogr/format/webp/' alt="" style="float:right">
		</div>
	</div>
</div>
<!-- img  start-->
<img src="https://fuss10.elemecdn.com/b/6d/656006edcd86033a1b32b23ddea37jpeg.jpeg?imageMogr/format/webp/" alt="" 
 width="100%" height="100px" style="margin-top: 12px;margin-bottom:12px;">
<!-- img  end-->


<!-- dayday  start--> 
<div class="dayday">
	<p>天天特价</p>
	<p>特价商品,一网打尽</p>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/f/00/5ba8544388bcf65bb4a4d2d5414aajpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>七寸烤翅披萨+可乐一杯+奥尔良</p>
		<p><span>￥19</span>&nbsp;<span>￥45</span></p>
		<div class="jizhe">4.8折</div>
	</div>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/9/9c/2ac03a662bfc79395276daf92b248jpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>酱汁海鲜面+可乐一杯+奥尔良</p>
		<p><span>￥15</span>&nbsp;<span>￥40</span></p>
		<div class="jizhe">4.8折</div>
	</div>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/1/b5/7e943421d76b0152dbb02b9671447jpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>冰沙田螺+可乐一杯+奥尔良</p>
		<p><span>￥20</span>&nbsp;<span>￥40</span></p>
		<div class="jizhe">5折</div>
	</div>
	<div class="clear"></div>
	<div class="no-more"><a href="">查看更多></a></div>
</div>
<!-- dayday  end--> 
<!-- dayday 2 start-->
<div class="dayday" style="margin-top: 5px;">
	<p>限时好礼</p>
	<p>小积分兑换豪礼</p>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/0/53/47a80976e90c99f40b745cde5246fjpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>iphone 7 32G</p>
		<p><span>299积分</span>&nbsp;<span>￥4499</span></p>
		<div class="jizhe">抽奖活动</div>
	</div>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/5/c5/c3371bbd48a2dedc21414703e1ca1jpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>15元饿了么红包</p>
		<p><span>6500积分</span>&nbsp;<span>￥15</span></p>
		<div class="jizhe">0元兑换</div>
	</div>
	<div class="pisa">
		<img src="https://fuss10.elemecdn.com/8/67/56b96e484fae208dfd2315d451c34jpeg.jpeg?imageMogr/format/webp/" alt="">
		<p>饿了么配送体验卡</p>
		<p><span>5000积分</span>&nbsp;<span>￥6</span></p>
		<div class="jizhe" style="width: 60%">非会员专属</div>
	</div>
	<div class="clear"></div>
	<div class="no-more" style="height:2.86rem"><a href="">查看更多></a></div>
</div>
<!-- dayday 2 end-->
<div id="footer">
    <a  ui-sref="home">外卖</a>
    <a  ui-sref="find">发现</a>
    <a  ui-sref="orderForm">订单</a>
    <a  ui-sref="mine">我的</a>
</div>