<div id="mine">
    <a href="" ui-sref="home"><</a>
    <p>我的</p>
    <!-- 登录注册开始 -->
    <div id="register">
    	<img src="./images/123.jpg" alt="" style="float:left;">
    	<div class="register-right">
    		<p style="text-align: left;font-size: 22px;">登录/注册</p>
    		<p style="font-size:16px;color: gray; ">登录后享受更多特权</p>
    	</div>
    </div>
    <!-- 登录注册结束 -->
</div>

<div class="youhui">
	<a href="#">
		<img src="./images/mine1.jpg" alt="">
		<p>优惠</p>
	</a>
	<a href="#">
		<img src="./images/mine2.jpg" alt="">
		<p>积分</p>
	</a>
</div>

<div class="myorder">
	<ul>
		<li><a  ui-sref="orderForm">我的订单<span>></span></a></li>
		<li><a 	ui-sref="orderForm">积分商城<span>></span></a></li>
		<li><a  ui-sref="orderForm">饿了么会员卡<span>></span></a></li>
	</ul>
</div>
<div class="myorder" style="height: 3rem;">
	<ul>
		<li style="height: 48%"><a  ui-sref="orderForm">服务中心<span>></span></a></li>
		<li style="height: 48%"><a 	ui-sref="orderForm">下载饿了么APP<span>></span></a></li>
	</ul>
</div>
<div id="footer">
    <a  ui-sref="home">外卖</a>
    <a  ui-sref="find">发现</a>
    <a  ui-sref="orderForm">订单</a>
    <a  ui-sref="mine">我的</a>
</div>